<html>
    <%- include("head") %>

    <body class="body" id="main">

        <%- include("navbar") %>

        <div class="section1 text-center">
            <h1>Crea tu publicación</h1>
        </div>

        <form method="POST" action="crearPublicacion" enctype="multipart/form-data">
            <div class="Container">

                <div class="Titulo d-flex justify-content-center flex-column">
                    <div class="Parte1 p-2">
                        <b>Titulo:</b><b class="asterisco">* </b>  
                    </div>

                    <div class="p-2">
                        <input class="TituloTexto form-control" type="text" placeholder="Titulo de publicación" name="publicacion[titulo]" required minlength="3" maxlength="90">
                        <div style='text-align:right'>
                            <i>Entre 3-90 caracteres</i>
                        </div>
                    </div>
                </div>

                <div class="Cuerpo d-flex justify-content-center flex-column">
                    <div class="Parte2 p-2">    
                        <b>Cuerpo:</b><b class="asterisco">* </b>  
                    </div>
    
                    <div class="form-group p-2">
                        <textarea class="CuerpoTexto form-control" type="text" rows="8" placeholder="Cuerpo de publicación" name="publicacion[cuerpo]" required minlength="200" maxlength="" id="mensaje"></textarea>
                        <div style='text-align:left'>
                            <i id="contador">Contador caracteres: 0 </i>   
                            <i id="espacioLinea"> ◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦◦</i>
                            <i>Min. 200 caracteres</i>
                        </div>
                    </div>
                </div>
                
                <script>
                    const mensaje = document.getElementById('mensaje');
                    const contador = document.getElementById('contador');
                    mensaje.addEventListener('input', function(e) {
                        const target = e.target;
                        const longitudMax = target.getAttribute('maxlength');
                        const longitudAct = target.value.length;
                        contador.innerHTML = `Contador caracteres: ${longitudAct}`;
                    });
                </script>

                <div class="d-flex p-2 flex-column justify-content-between">

                    <!-- Aqui esta para elegir la seccion -->
                    <div class="AniadirSeccion flex-column">
                        <div class="Parte3 p-2">
                            <b>Añadir a la sección:</b><b class="asterisco">*</b> 
                            <select class="OpcionesSeccion" name="publicacion[seccion]">
                                <option value="Valor Predefinido">Elija una sección...</option>
                                <% secciones.forEach( sec => { %>
                                    <option value= "<%= sec.ID %>"><%= sec.Nombre %></option>
                                <% }); %>
                            </select> 
                        </div>
                    </div>

                 <!-- Aqui es donde esta la seleccion de las etiquetas -->
                    <div class="AniadirEtiqueta d-flex flex-column" id="seleccion_etiquetas">
                        <div class="Parte4 d-flex p-2">
                            <b>Añadir etiquetas</b><i>(max. 5)</i><b>:</b><b class="asterisco">*</b> 
                        <div class="p-2" id="textoEtiqueta" >
                            <input class="form-control" type="text" placeholder="Etiqueta" name="etiqueta" id="nuevaEtiqueta" style="background: #FFF0C9;">
                        </div>
                        <div class="p-2" id="botonAñadirEtiqueta" >
                            <input type="button" class="btn btn-primary" value ="Añadir">                                 
                        </div>
                    </div>

                    <div id="listaEtiquetas" class="p-2 d-flex" name="etiquetas">
                        <!-- Aqui el texto se añade solo cuando haces click -->
                    </div>

                </div>                    
    
                <div class="Textochiquito">
                    <b>Todos los campos con * son obligatorios </b>
                </div>

                <div class="d-flex justify-content-center" id="BotonPublicar">
                    <input type="submit" class="btn btn-primary" value ="Publicar">
                </div>

            </div>
        </form>    
    </body>

    <!--ESTO VA APARTE IGNORAAARR-->

    <script src="/stylesheets/js/crearPublicacion.js"></script>

</html>