<html>
    <%-include("head")%>
    <body class="pagError">
        <div class="text-center">
            <div class="tituloError">
                <h1>
                    <a id="advertencia">⚠</a>
                    <b> ERROR 404 NOT FOUND </b>
                    <a id="advertencia">⚠</a>
                </h1>
            </div>

            <div>
                <img src="/images/homer_error.gif" alt="gifError404"> 
            </div>
            
            <hr>
            
            <h3>
                <p>
                    Parece que ha habido un error con la página que estabas buscando.
                    <br>
                    Es posible que la entrada haya sido eliminada o que la dirección no exista.    
                </p>
            </h3>
        </div>
    </body>
</html>
