<body>
    <%- include("header") %>
    <%- include("flash") %>
    
    

    <%- include("footer") %>
</body>

<% let msg = getAndClearFlash();
if (msg) { %>
    <div class="flash"><%= msg ></div>
<%  } %>
