<head>
    <title> WithU </title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/css/bootstrap-5.1.3.css"/>
    <link rel="stylesheet" href="/stylesheets/css/verPublicacion.css"/>
    <link rel="stylesheet" href="/stylesheets/css/crearPublicacion.css"/>
    <link rel="stylesheet" href="/stylesheets/css/mensaje.css"/>
</head>