<head>
    <title> WithU </title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/css/bootstrap-5.1.3.css"/>
    <link rel="stylesheet" href="/stylesheets/css/verPublicacion.css"/>
    <link rel="stylesheet" href="/stylesheets/css/crearPublicacion.css"/>
    <link rel="stylesheet" href="/stylesheets/css/mensaje.css"/>
    <link rel="stylesheet" href="/stylesheets/css/error404.css"/>
    <link rel="stylesheet" href="/stylesheets/css/buscarPorSeccion.css"/>
    <link rel="stylesheet" href="/stylesheets/css/inicioSesion.css"/>
    <link rel="stylesheet" href="/stylesheets/css/registroUsuario.css"/>
    <link href="/stylesheets/css/navbar.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">      
</head>