<html>
    <%- include("head") %>
       
    <body id="main">
        
        <%- include("navbar") %>
        
		<div class="container noBordes " id="containerInicio">
            <div class="d-flex" id="cabecera">
                <div class="p-2">
                        <h2>  </h2>
                </div>
            </div>
            <form method="POST" action="login" enctype="multipart/form-data">
                <div class="d-flex flex-column justify-content-center align-content-stretch" id="inicio">
                    <div class="p-2">
                        <img src="/images/LogoWithU.png" width="170" height="170" class="d-inline-block align-top" alt=""/>
                    </div>
                    <% if(!exito){  %> 
                        <div class="p-2 badmsg msg align-self-center">
                            Usuario o contraseña incorrectos
                        </div>
                    <% } %> 
                    <div class="d-flex p-2 align-self-center ">
                        <div class="p-2 centrarVertical">
                          Username
                        </div>
                        <div class="p-2">
                            <input class="form-control" type="text" placeholder="Username" name="user[username]" id="username" style="background: #FFF0C9;">
                        </div>
                    </div>
                    <div class="d-flex p-2 align-self-center ">
                        <div class="p-2 centrarVertical">
                            Password 
                        </div>
                        <div class="p-2">
                            <input class="form-control" type="password" placeholder="Password" name="user[password]" id="password" style="background: #FFF0C9;">
                        </div>
                    </div>
                    <div class="d-flex p-2 align-self-center">
                        <div class="p-2">
                            <input type="submit" class="btn btn-primary" value ="Iniciar Sesion" style="background: #5271FF">
                        </div>
                    </div>
                </div>
            </form>
            
		</div>
    </body>
</html>