<html>
    <%- include("head") %>
       
    <body id="main">
        
        <%- include("sidenavFull") %>

		<div class="container containerInicio">
  
            <div class="d-flex flex-column justify-content-center align-content-stretch" id="inicio">
                <div class="imagenInicio">
                    <img src="/images/LogoBorde.png" width="170" height="170" class="d-inline-block align-top" alt=""/>
                </div> 
                
                <div class="tituloInicioSesion text-center">
                    <h1>¡Inicia Sesión ahora!</h1>
                </div>

                <form method="POST" action="login" enctype="multipart/form-data">
                    <div class="container col-4 align-self-center">

                        <% if(!exito){  %> 
                            <div class="badmsg msg align-self-center">
                                Usuario o contraseña incorrectos
                            </div>
                        <% } %> 

                        <div class="d-flex divUser">
                            <label for="formNick" class="centrarVertical"><b>Username: </b></label>
                            <div>
                                <input class="form-control" type="text" placeholder="Username" name="user[username]" id="username" style="background: #FFF0C9;">
                            </div>
                        </div>

                        <div class="d-flex divPassword">
                            <label for="formContrasena" class="centrarVertical"><b>Contraseña: </b></label>
                            <div>
                                <input class="form-control" type="password" placeholder="Contaseña" name="user[password]" id="password" style="background: #FFF0C9;">
                            </div>
                        </div>

                        <div class="d-flex justify-content-center" id="BotonInicioSesion">
                            <input type="submit" class="btn btn-primary" value="Iniciar Sesion" style="background: #5271FF">
                        </div>

                        <hr size="5px" style="color: blue;">

                        <div>
                            <p class="text-center">
                                ¿Todavía no tienes una cuenta?
                                <a data-testid="log-in-link" href="/registroUser" tabindex="0">
                                    Registrate
                                </a>
                            </p>
                        </div>

                    </div>
                </form>
            </div>
		</div>
    </body>
</html>