

  <nav class="navbar navbar-light fixed-top" style="background-color: #5271ff;">
    <a class="navbar-brand p-2" href="#">
      <img src="/images/LogoBorde.png" width="35" height="35" class="d-inline-block align-top" alt=""/>
    </a>
    
    <div class="form">
      <input class="form-control mr-sm-2" type="search" placeholder="Búsqueda por palabra clave" aria-label="Search">
    </div>
    <div>
      Mi cuenta
    </div>
  </nav>

  <div class="espaciado"></div>
  
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="seccionesNav">
      <% secciones.forEach( sec => { %>
        <a href="/seccion/<%=sec.ID%>">
          <img src="/images/<%= sec.Nombre %>.png" width="40" height="40" class="d-inline-block align-top" alt=""/>
          <%= sec.Nombre %>
        </a>
      <% }); %>
    </div>  
  </div>
  
  <span style="font-size:25px;cursor:pointer;margin-left: 5px;" onclick="openNav()">&#9776; Secciones</span>

  <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "235px";
        document.getElementById("main").style.marginLeft = "235px";
    }  
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
    } 
</script>

