<nav class="navbar navbar-light fixed-top" style="background-color: #5271ff;">
  <a class="navbar-brand p-2" href="#" onclick="location='/crearPublicacion'">
    <img src="/images/LogoBorde.png" width="35" height="35" class="d-inline-block align-top" alt=""/>
  </a>
  
  <div class="form">
    <input class="cuadroBusqueda form-control mr-sm-2" type="search" placeholder="Búsqueda por palabra clave" aria-label="Search">
  </div>
  
  <div class="userSesion">
    <!-- <a href="/cerrarSesion" id="cerrar">Cerrar Sesion</a> -->
    <% if(user !== null && user !== undefined){  %> 
      <button type="button" class="btn btn-outline-light navbutton" onclick="location.href = '/cerrarSesion';">Cerrar Sesion</button>
    <% } %> 
    <% if(user === null || user ===undefined){  %> 
      <button type="button" class="btn btn-outline-light navbutton" onclick="location.href = '/login';">Iniciar Sesion</button>
      <button type="button" class="btn btn-outline-light navbutton" onclick="location.href = '/registroUser';">Registrate</button>
    <% } %> 
      
  </div>
</nav>

<div class="espaciado">
  Texto para el espaciado
</div>