<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">
        <img src="/images/LogoWithU.png" width="30" height="30" class="d-inline-block align-top" alt=""/>
        WithU
    </a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--Va fuera cuando se ponga el for-->
            <li class="nav-item active">
                <a class="nav-link" href="#">Estudios</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="#">Trabajo</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="#">Familia</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Relaciones</a>
            </li>
            <!--Hasta aqui borrar-->
            <!--El for de las secciones
            <% secciones.forEach( sec => { %>
                <option value= "<%= sec.ID %>"><%= sec.Nombre %></option>
            <% }); %>-->
        </ul> 
    </div>

  </nav>