<html>
    <%- include("head") %>
       
    <body id="main">
        
        <%- include("navbar") %>
        <%- include("botonFlotante") %>

		<div class="container containerPaginaPrincipal">
  
            <div class="d-flex flex-column justify-content-center align-content-stretch" id="paginaPrincipal">
                <div class="imagenPaginaPrincipal text-center">
                    <img src="/images/LogoBorde.png" width="170" height="170" class="d-inline-block align-top" alt=""/>
                </div> 
                
                <div class="tituloPaginaPrincipal text-center">
                    <h1>¡Bienvenido a WithU! Un lugar donde podrás expresarte libremente y compartir tus inquietudes con los demás usuarios. ¿Algo te preocupa? ¡WithU te espera!</h1>
                </div>

                <div class="container-fluid containerdescripcionSeccionesA">
                    <div class="container-fluid containerdescripcion">
                        <div class="subtitulo text-center">
                            <h1>Estudios</h1>
                            <div class="texto">
                                <h5>El instituto o la universidad son uno de las principales fuentes de desmotivación.
                                    Si los estudios te causan frustración, inseguridad, ... Compártelo con la comunidad 
                                    de WithU.
                                </h5>
                            </div>
                            
                        </div>
                        <div class="imagenSeccion">
                            <img src="/images/Estudios.svg" width="170" height="170" class="d-inline-block align-top" alt=""/>
                        </div>
                    </div>
                    <div class="container-fluid containerdescripcion">
                        <div class="subtitulo text-center">
                            <h1>Trabajo</h1>
                            <div class="texto">
                                <h5>¿Tienes problemas en el trabajo? WithU es el lugar ideal para que puedas expresar
                                    todos tus sentimientos sobre tu mundo profesional, sin temor a ser juzgado por nadie.
                                </h5>
                            </div>
                        </div>
                        <div class="imagenSeccion">
                            <img src="/images/Trabajo.svg" width="170" height="170" class="d-inline-block align-top" alt=""/>
                        </div>
                    </div>
                    <div class="container-fluid containerdescripcion">
                        <div class="subtitulo text-center">
                            <h1>Familia</h1>
                            <div class="texto">
                                <h5> Las familias son siempre una fuente de apoyo, pero en ocasiones también pueden ser 
                                    fuente de preocupaciones. Si este es tu caso, ábrete a WithU y comparte tus 
                                    sentimientos con los demás usuarios.
                                </h5>
                            </div>
                        </div>
                        <div class="imagenSeccion">
                            <img src="/images/Familia.svg" width="170" height="170" class="d-inline-block align-top" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="container-fluid containerdescripcionSeccionesB">
                    <div class="container-fluid containerdescripcion">
                        <div class="subtitulo text-center">
                            <h1>Relaciones</h1>
                            <div class="texto">
                                <h5>Relaciones amorosas, de amistad, fraternales, ... Todas ellas pueden pasar por 
                                    malos momentos. Si alguna de tus relaciones se encuentra en crisis, cuéntaselo a 
                                    nuestra comunidad y déjate ayudar.
                                </h5>
                            </div>
                        </div>
                        <div class="imagenSeccion">
                            <img src="/images/Relaciones.svg" width="170" height="170" class="d-inline-block align-top" alt=""/>
                        </div>
                    </div>
                    <div class="container-fluid containerdescripcion">
                        <div class="subtitulo text-center">
                            <h1>Autoestima</h1>
                            <div class="texto">
                                <h5> Nuestra autoestima no siempre se encuentra en los mismos niveles... Si estás pasando por
                                    un mal momento, compártelo con el resto de usuarios para que, entre todos, podamos ayudarte.
                                </h5>
                            </div>
                        </div>
                        <div class="imagenSeccion">
                            <img src="/images/Autoestima.svg" width="170" height="170" class="d-inline-block align-top" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="container-fluid containerFinal">
                    <div class="tituloPaginaPrincipal text-center">
                        <h1>No esperes más, pulsa sobre el botón flotante, exprésate, y encuentra a un amigo en WithU</h1>
                    </div>
                </div>
                
            </div>
		</div>
    </body>
</html>