<html>
    <%- include("head") %>

    <body class="paginaRegistro">
        <div class="tituloRegistro text-center">
            <h1>¡Registrate en WithU!</h1>
        </div>

        <div class="container formulario">
            <div class="row justify-content-center">
                <div class="container col-6">

                    <form method="POST" action="crearCuenta">

                        <div class="form-group userName">
                            <label for="formNick"><b>Nombre de Usuario:</b><b class="asterisco"> *</b></label>
                            <input type="text" class="form-control userNameCuadro" id="formGroupExampleInput2" placeholder="NombreUsuario01" name="usuario[nick]">
                            <div style="text-align:right">
                                <i>Entre 3-90 caracteres</i>
                            </div>
                        </div>

                        <div class="form-group eMail">
                          <label for="formCorreo"><b>Correo electronico:</b><b class="asterisco"> *</b></label>
                          <input type="text" class="form-control eMailCuadro" id="formGroupExampleInput" placeholder="ejemplo@correo.com" name="usuario[correo]">
                        </div>

                        <div class="form-group contrasenia1">
                          <label for="formContrasena"><b>Contraseña:</b><b class="asterisco"> *</b></label>
                          <input type="password" class="form-control contrasenia1Cuadro" id="formGroupExampleInput2" placeholder="contraseña_123" name="usuario[contrasena]">
                          <div style="text-align:right">
                            <i>Entre 5-20 caracteres</i>
                        </div>
                        </div>

                        <div class="form-group contrasenia2">
                            <label for="formConfirmaContrasena"><b>Repetir contraseña:</b><b class="asterisco"> *</b></label>
                            <input type="password" class="form-control contrasenia2Cuadro" id="formGroupExampleInput" placeholder="contraseña_123" name="usuario[confirmaContrasena]">
                            <div style="text-align:right">
                                <i>Entre 5-20 caracteres</i>
                            </div>
                        </div>

                        <div class="Textochiquito">
                            <b>Todos los campos con * son obligatorios </b>
                        </div>

                        <div class="d-flex justify-content-center" id="BotonCrearCuenta">
                            <input type="submit" class="btn btn-primary" value="Crear cuenta">
                        </div>

                        <hr size="5px" style="color: blue;">

                        <div>
                            <p class="pregunta">
                                ¿Tienes ya una cuenta? 
                                <a data-testid="log-in-link" href="/crearPublicacion" tabindex="0">
                                    Iniciar Sesión
                                </a>
                            </p>
                            <div class="d-flex justify-content-center" id="BotonIniciarSesion">
                                <input type="submit" class="btn btn-primary" value="Iniciar Sesión">
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </body>
</html>
