.bodyVerPublicaciones {
    color: black;
    background: linear-gradient(to bottom, #5271ff, #B0CDDB);
    transition: margin-left 0.3s;
}

.bordesOut {
    background-color: transparent!important
}

.contadorPublicaciones {
    color: white;
}

.superContainer {
    /* background-color: white; */
}

.tituloYcuerpo{
    background-color: white;
    padding-left: 25px;
}

.miniTitulos {
    background-color: white;
    margin-left: 2px;
    color: #5271ff;
}

.cuerpoLimitSecciones {
    background-color: white;
    margin-left: -10px;
}

#publicacionesLista {
    margin-top: 2%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#columnaDrchInfo{
    min-width: 17%;
    max-width: 17%;
}

#usuarioInfo{
    text-align: center;
    max-height: 300px;
    min-height: 100px;
    color:#d8a2fc
}

#etiquetasInfo{
    color:#5271ff;
    text-align: left;
    margin-left: -10px; 
}

#usuarioImage{
    margin-top: 2%;
    max-width: 70%;
    max-height: 70%;
}

#usuarioName {
    color: grey;
    margin-top: 4%;
}

.publiHover:hover{
    box-shadow: 0px 0px 20px PowderBlue;
    border-radius: 20px; 
    cursor: pointer;   
}