body {
    color: black;
    background: linear-gradient(to bottom, white, #52adf7); 
}

.section1 {
    margin-bottom: 1.5%;
}

.Container {
    border:1px solid black;
    border-radius: 10px;
}

.Titulo {
    margin-top: 0.5%;
    color: black;
}

.Parte1 p {
    display:inline;
}

.Cuerpo {
    margin-top: 1%;
    color: black;
}

.Parte2 p {
    display:inline;
}

.AniadirSeccion {
    margin-top: 1%;
    font-size: 15px;
    color: black;
}

.Parte3 p {
    display: inline;
}

.OpcionesSeccion {
    border: 1px solid black;
    height: 30px;
    overflow: hidden;
    width: 220px;
    position: relative;
}

select {
    background: beige;
    height: 30px;
    font-size: 15px;
    width: 235px;
}

 select:focus{ outline: none;}

 .asterisco {
    color:red;
}

.Textochiquito {
    font-size: 12px;
    padding-left: 10px;
    margin-top: 0.25%;
    color: red;
}

#Boton{
    margin-top: 2%;
    margin-bottom: 2%;
}