#LogoNavBar {
    position: absolute;
    height: 60;
    left: 0;
    top: 0;
}

.body {
    color:black;
    background: linear-gradient(to bottom, white, #5271ff);
}

.section1 {
    margin-bottom: 1.5%;
}

.Container {
    border: black;
    border-radius: 10px;
    background-color: white;
}

.Titulo {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    color: black;
}

.TituloTexto, .TituloTexto:focus {
    border-color: transparent;
    background: #FFF0C9;
}


.Parte1 p {
    display:inline;
}

.Cuerpo {
    margin-top: 0.5%;
    color: black;
}

.CuerpoTexto, .CuerpoTexto:focus{
    border-color: transparent;
    background: #FFF0C9;
}

.Parte2 p {
    display:inline;
}

.AniadirSeccion {
    margin-top: 0.5%;
    font-size: 15px;
    color: black;
    margin-bottom: 1%;
}

.Parte3 p {
    display: inline;
}

.OpcionesSeccion {
    margin-left: 1%;
    border: 1px solid black;
    height: 30px;
    overflow: hidden;
    width: 220px;
    position: relative;
}

select {
    background: #FFF0C9;
    height: 30px;
    font-size: 15px;
    width: 235px;
}

 select:focus { outline: none;}

.AniadirEtiqueta {
    font-size: 15px;
    color: black;
}

.Parte4 p {
    display: inline;
}

#textoEtiqueta{
    margin-top: -1.5%;
    height: 30px;
    width: 235px;
}

#nuevaEtiqueta {
    margin-left: 1%;
    border-color: black;
}

#botonAñadirEtiqueta {
    margin-top: -1.5%;
}

#listaEtiquetas{
    border: 2px solid #7373e6;
    border-radius: 50px;
    max-height: 80%;
    height: 80%;
}

.nombreEtiqueta{
    margin-top: 0.5%;
    margin-left: 0.7%;
    size: 150px;
    color: #212625;
}

.botonEtiqueta{
    margin-left: 0.15%;
}

.asterisco {
    color:red;
}

.Textochiquito {
    font-size: 12px;
    margin-top: 1%;
    color: red;
}

