.pagError {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #5271ff, #B0CDDB);
}

.tituloError {
    margin-top: 1%;
}

#advertencia {
    color: red;
}