.tituloInicioSesion {
    margin-bottom: 1%;
    color: white;
}

#main {
    background: linear-gradient(to bottom, #5271ff, #B0CDDB);
}

.imagenInicio {
    margin-bottom: 2%;
}

.containerInicio{
    text-align: center;
    background-color: transparent;
}

.divUser {
    margin-top: 2%;
}

.divPassword {
    margin-top: 3%;
}

.centrarVertical{
    text-align: center;
    margin:auto;
    display: inline-flexbox;
}

#BotonInicioSesion {
    margin-top: 5%;
    margin-bottom: 2%;
}
