.cuerpoMsg {
    color: black;
    background: linear-gradient(to bottom, #5271ff, #B0CDDB);
    transition: margin-left 0.3s;
}

.noLadosBordes {
    background-color: transparent!important
}

.badmsg{
    background-color: #ff5e69;
    border-radius: 10px;
}
.goodmsg{
    background-color: #66ff8a;
    border-radius: 10px;
}

.containerMensaje {
    background-color: transparent!important
}