body {
  font-family: "Lato", sans-serif;
}

.navbarFixed{
  position: fixed;
  display: block;
}

.espaciado {
  margin-bottom: 40px;
  color: transparent;
}

.miCuentaText {
  color: white;
  top: -5%;
  right: 15px;
  font-size: 45px;
}

.closebtn {
  margin-top: 2%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#cerrar, #cerrar:link, #cerrar:visited, #cerrar:active{
  color:white;
  text-decoration:none;

}
.userSesion{
  margin-right: 1%;
}

.navbutton {
  border: 0px;
  color: white;
} 


.navbutton:hover{
  border: 0px;
  background-color:#6e89ff;
  color: white;
  box-shadow: 0px 5px 10px PowderBlue;
}