.paginaRegistro {
    background: linear-gradient(to bottom, #5271ff, #B0CDDB);
}

.tituloRegistro {
    margin-bottom: 1.5%;
    color: white;
}

.formulario {
    background-color: transparent;
}

.userName {
    margin-top: 2%;
}

.userNameCuadro {
    background-color: #FFF0C9;
}

.eMailCuadro {
    background-color: #FFF0C9;
}

.ocultar {
    display: none;
}

.mostrar {
    display: block;
}

.contrasenia1 {
    margin-top: 2%;
}

.contrasenia1Cuadro {
    background-color: #FFF0C9;
}

.contrasenia2Cuadro {
    background-color: #FFF0C9;
}

#BotonCrearCuenta {
    margin-top: 2%;
    margin-bottom: 2%;
}

.pregunta {
    text-align: center;
}

.asterisco {
    color:red;
}