.bodyVerPublicacion {
    color: black;
    background: linear-gradient(to bottom, white, #5271ff);
    transition: margin-left 0.3s;
}

#publicacionIzq {  
    margin-top: 2%;
    background-color: white;
}

#Respuestas {  
    margin-top: 10%;
    background-color: white;
}

.noBordes {
    background-color: transparent!important
}

.TituloCuerpoRespuesta{
    background-color: white;
}

.miniTitulo {
    background-color: white;
    color: #5271ff;
}

.tituloRespuestas {
    background-color: white;
    color: #5271ff;
}

.cuerpoLimitado {
    background-color: white;
    min-height: 100px;
}

.Respuestas {
    background-color: white;
    min-height: 350px;
}

.conjuntoRespuestas {
    display:block;
    width: 1000px;
    height: 320px;
    overflow:scroll;
}

#columnaIzqInfo{
    min-width: 17%;
    max-width: 17%;
}

#usuario{
    text-align: center;
    max-height: 300px;
    min-height: 100px;
    color:#d8a2fc
}

#info {
    color:grey;
    text-align: center;
}

#userImage{
    margin-top: 2%;
    max-width: 70%;
    max-height: 70%;
}

#userName {
    color: grey;
    margin-top: 4%;
}