.bodyVerPublicacion {
    color: black;
    background: linear-gradient(to bottom, white, #5271ff);
    transition: margin-left 0.3s;
}

#publicacion {
    margin-top: 2%;
    background-color: white;
}

.noBordes {
    background-color: transparent!important
}

.TituloCuerpo{
    background-color: beige;
}

.miniTitulo {
    background-color: #5271ff;
    color: white;
}

.cuerpoLimitado {
    background-color: beige;
}

#columnaInfo{
    min-width: 17%;
    max-width: 17%;
}

#usuario{
    text-align: center;
    max-height: 300px;
    min-height: 100px;
    color:#d8a2fc
}

#info h4{
    color:grey;
    text-align: center;
}

#userImage{
    margin-top: 2%;
    max-width: 70%;
    max-height: 70%;
}

#userName {
    color: grey;
    margin-top: 4%;
}